<div class="wrapper">
  <div class="header">
    <div class="in-header">
      <div>
        <i class="uil uil-video"></i>
      </div>
      <div class="title">
        APP RECONOCIMIENTO FACIAL CON ANGULAR
      </div>
    </div>
    <a href="https://github.com/encisoda" target="_blank">
      <i class="uil uil-github"></i>
    </a>
  </div>
  <div class="block-main">
    <div class="cam">
      <app-video-player [stream]="currentStream"></app-video-player>
    </div>
    <div class="sidebar">
      <div class="zone-body">
        <div class="block">
          block 1
        </div>
        <div class="block">
          block 2
        </div>
      </div>
      <div class="zone-btn">
        <ul class="list-btn">
          <li *ngFor="let btn of [1,1,1]">
            <i class="uil uil-robot"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
